{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <section id="detailsPage">
        <div class="wrapper">
            <div class="albumCover">
                <!-- Album Image -->
                <img src="{{ album.image_url }}" alt="Cover Image" />
            </div>

            <div class="albumInfo">
                <div class="albumText">
                    <!-- Album Info -->
                    <h1>{{ album.album_name }}</h1>
                    <h3>{{ album.artist }}</h3>
                    <h4>{{ album.genre }}</h4>
                    <h4>${{ album.price }}</h4>
                    <p>{{ album.description }}</p>
                </div>

                <div class="actionBtn">
                    <!-- Album Buttons -->
                    <a href="{% url 'edit-album' album.pk %}" class="edit">Edit</a>
                    <a href="{% url 'delete-album' album.pk %}" class="remove">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
