{% extends 'base.html' %}
{% block main_content %}

      <section id="catalogPage">
        {% if not albums %}
        <p>No Albums in Catalog!</p>
        {% else %}
        <!-- If albums in catalog -->
        <h1>All Albums</h1>
        <!-- First Card-Box in catalog -->
        {% for album in albums %}
            <div class="card-box">
          <img src="{{ album.image_url }}" alt="Cover Image" />
          <div>
            <div class="text-center">
              <p class="name">{{ album.album_name }}</p>
              <p class="artist">{{ album.artist}}</p>
              <p class="genre">{{ album.genre }}</p>
              <p class="price">{{ album.price }}</p>
            </div>
            <div class="btn-group">
              <a href="{% url 'details-album' album.pk %}">Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </section>
{% endblock %}
