{% extends 'base.html' %}
{% block content %}

      {% if count_of_car == 0 %}
      <p class="no-articles">No cars yet</p>
      {% else %}
      <!-- Display a card with information about each car (if any)-->
      <section id="catalogue">
        <h1>TOTAL CARS: {{ count_of_car }}</h1> 
      
      {% for car in cars %}    
        <!-- first car-->
        <div class="car-card">
          <div class="image-wrap">
            <!-- car image -->
            <img
              src="{{ car.image_url }}"
              alt="{{ car.type }}"
            />
          </div>
          <!-- car type -->
          <h3>{{ car.type }}</h3>
          <!-- car model -->
          <h1>{{ car.model }}</h1>
          <div class="details-buttons">
            <!-- car details button -->
            <a href="{% url 'car-details' car.id %}" class="details-btn">Details</a>
          </div>
        </div>
      {% endfor %}  

      {% endif %}
      </section>

{% endblock %}