<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <h1>DJANGO BASICS - URLS AND VIEWS</h1>
    {% if result %}
        {% for u in result %}
            <h1>{{ u }}</h1>
        {% endfor %}
    {% else %}
        <h1>No Info</h1>    
    {% endif %}

    <h1>CSRF TOKEN</h1>
    {{ csrf_token }}
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>4</li>
    </ul>
    {% lorem 2 %}
</body>
</html>